page-criar-agenda {

  .imagemLogo img {
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
  }
  .rodape{
    text-align: center;
  }
}
